%h1 You are at the Reviews Index Page

%p= will_paginate @reviews

- @reviews.each do |review|

  .review-container
    %ul.review-items
      %li= "#{review.product.name} on #{review.forum.name}"
      %li= "#{review.review_date.to_s} Rating #{review.rating.to_s}"
      %li= author_location(review)
      %li.headline= "#{review.headline}"
      %li= "#{review.body}"
      %hr


